main {
    background-color: aqua;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

form {
    background-color: tan;
}

legend {
    color: firebrick;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
    border-radius: 10px;
    background-color: lightgrey;
}

.connect2 {
    display: flex;
    justify-content: space-around;
}

.lampader {
    width: 350px;
}

@media screen and (max-width: 1120px) {
    .connect2 {
        display: block;
    }

    .lampader {
        display: none;
    }

    form {
        margin-top: 100px;
    }
}