{% block stylesheets %}
	<link rel="stylesheet" href="{{'asset/css/footer.css'}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
<footer>
	<ul>
		<li>
			<a href="https://www.facebook.com/Souniya501/?ref=page_internal">
				<i class="fa-brands fa-facebook"></i>
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/souniya501/?hl=fr">
				<i class="fa-brands fa-instagram"></i>
			</a>
		</li>
		<li>
			<a href="https://api.whatsapp.com/send?phone=261347053812">
				<i class="fa-brands fa-whatsapp"></i>
			</a>
		</li>
		<li>
			<a href="mailto:souniya.mada@gmail.com">
				<i class="fa-solid fa-envelope"></i>
			</a>
		</li>
	</ul>
	<hr>
	<p>&copy;achirac 2022</p>
	<a href="{{'asset/imageLG/cgu.jpg'}}">C.G.U</a>

</footer>